*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;

}

.main{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%; 
    background-color: #eeeee4;
}

.calculator{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;

}

.calculator div{
    align-self:center;
    width: 100%;
    display: flex;
}

.calculator div button{
    flex: 1;
    background-color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    color: black;
}

#calc-display {
    background-color: #d6d6cd;
    width: 100%;
    flex-flow: column wrap;
    align-items: flex-end;
    padding: 15px 12px;
}

#calc-display *{
    margin: 10px;
    font-size: 20px;

}

